.card {
    flex: 1 0 30%;
    margin: 10px;
    border: 1px solid #ddd;
    position: relative;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}

.consultar-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.img-hover {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.img-hover:hover {
  border: 2px solid white;
  transform: translateY(-10px);
}

.catalogo_style_index{
height: 90vh;
overflow-y: scroll;

}

